# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.pyd
*.pyo

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Optional logs
*.log
